{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
<main class="example-wrapper">

	{% for message in app.flashes('success') %}
		<p class="success">{{ message }}</p>
	{% endfor %}

	{% for message in app.flashes('error') %}
		<p class="error">{{ message }}</p>
	{% endfor %}

	<p id="jsError" class="error"></p>

	{{ form_start(form) }}
		<h1>Employees</h1>
		{{ form(form) }}
	{{ form_end(form) }}
	<table>
		<thead>
			<tr>
				<th><p>First name:</p></th>
				<th><p>Last name:</p></th>
				<th><p>Date of birth:</p></th>
				<th><p>Email address:</p></th>
			</tr>
		</thead>
		<tbody>
			{% for staffMember in staff %}
			<tr>
				<td><p>{{ staffMember.Firstname}}</p></th>
				<td><p>{{ staffMember.Lastname}}</p></th>
				<td><p>{{ staffMember.Dob|date("d-m-Y")}}</p></th>
				<td><p>{{ staffMember.Email}}</p></th>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</main>
{% endblock %}
